html {
    font-size: 100%;
}

body {
    color: white;
}

/* <!-- HEADER --> */
.container {
    height: 90px;
}

.container-fluid .container .row {
    height: 90px;
}

.bg-dark {
    background-color: rgb(44,62,80);
}

.nav-dx {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-dx li {
    padding: 10px;
}
.nav-dx li a {
    text-decoration: none;
    color: white;
}
/* /<!-- /HEADER --> */

/* <!-- JUMBO --> */
.jumbo {
    height: 500px;

}
.container-img {
    padding: 50px 0;
    margin: auto;
}
.square-img {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: auto;
}
    /* <!-- /JUMBO --> */

    /* <!-- MAIN --> */


.portfolio .row{
    color: black;
}
.portfolio .row .col .img-svg{
    background-color: purple;
    padding: 1em;
    height: 150px;
    border-radius: 10px;
}

/* SECTION ABOUT */
.about {
    background-color: rgb(26,188,156);
}

.download {
    margin-top: 1em;
    padding: 1em;
    background-color: rgb(26,188,156);
    border: 1px solid white;
    color: white;
}


    /* <!-- /MAIN --> */
/* 
(min-width: 576px) sm

(min-width: 768px) md 
*/