html {
    font-size: 100%;
}

body {
    color: white;
}

/* <!-- HEADER --> */
.container {
    height: 90px;
}

.bg-dark .container .row {
    height: 90px;
}

.bg-dark {
    background-color: rgb(44,62,80);
    width: 100%;
}

.nav-dx {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-dx li {
    padding: 10px;
}
.nav-dx li a {
    text-decoration: none;
    color: white;
}
.fa-bars{
    border: 1px grey solid;
    padding: 0.5em;
}
.bg-dark .container .row .nav-hide {
    display: none;
    text-align: right;
    line-height: 90px;
}
/* /<!-- /HEADER --> */

/* <!-- JUMBO --> */
.jumbo {
    height: 500px;
    background-color: rgb(26,188,156);
}
.container-img {
    padding: 50px 0;
    margin: auto;
}
.square-img {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: auto;
}
    /* <!-- /JUMBO --> */

    /* <!-- MAIN --> */


.portfolio .row{
    color: black;
}
.portfolio .row .col .img-svg{
    background-color: purple;
    padding: 1em;
    height: 150px;
    border-radius: 10px;
}

/* SECTION ABOUT */
.about {
    background-color: rgb(26,188,156);
}

.download {
    margin-top: 1em;
    padding: 0.8em 1.5em;
    background-color: rgb(26,188,156);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}
.fa-download{
    margin-right: 0.3em;
}
.contact-me {
    color: black;
}
.contact-me .row .border_my {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.send {
    padding: 0.5em 1em;
    background-color: rgb(26,188,156);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

/* FOOTER */
.footer-light {
    background-color: rgb(58,84,109);
    margin-top: 1em;
}

.container-fluid .text-center p a {
    color: rgb(26,188,156);
    list-style-type: none;
}

footer .footer-dark {
    padding: 2em;
    background-color: rgb(44,62,80);
}

@media screen and (min-width: 576px) and (max-width:767px) {

    .bg-dark .container .row .big-menu .nav-dx {
        display: none;
    }

    .bg-dark .container .row .nav-hide {
        display: block;    
    }
}
    /* <!-- /MAIN --> */
/* 
(min-width: 576px) sm

(min-width: 768px) md 
*/